@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
  logs: false;
}

/* ; https://github.com/tailwindlabs/tailwindcss-intellisense/issues/1340 */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  background-color: var(--color-base-300);
}
